<form name="userForm" ng-submit="submitForm( userForm.$valid )" novalidate>

    <fieldset>

        <div>
            <label for="firstname">
                <span class="icon-required font-size-11pt"></span>First Name:
                <input type="text"
                       class="form-input"
                       name="firstname"
                       id="firstname"
                       placeholder="Enter your first name"
                       required
                       ng-class="{ error: userForm.firstname.$invalid && ( userForm.firstname.blurred || form.submitted ) }"
                       ng-model="formData.firstName"
                       ng-blur="userForm.firstname.blurred = true"
                       ng-minlength="3"
                       ng-maxlength="20"/>
            </label>

            <div class="error-container">
                <div class="font-size-11pt" ng-show="userForm.firstname.$invalid && ( userForm.firstname.blurred || form.submitted )">
                    <span class="error-text">Please enter your first name</span>
                    <span class="icon-font icon-info font-size-24pt"></span><span class="info-text">It's got to be 3 - 20 characters</span>
                </div>
            </div>            
        </div>

        <div>
            <label for="lastname">
                <span class="icon-required font-size-11pt"></span>Last Name:
                <input type="text"
                       class="form-input"
                       name="lastname"
                       id="lastname"
                       placeholder="Enter your last name"
                       required
                       ng-class="{ error: userForm.lastname.$invalid && ( userForm.lastname.blurred || form.submitted ) }"
                       ng-model="formData.lastName"
                       ng-blur="userForm.lastname.blurred = true"
                       ng-minlength="3"
                       ng-maxlength="20"/>
            </label>

            <div class="error-container">
                <div class="font-size-11pt" ng-show="userForm.lastname.$invalid && ( userForm.lastname.blurred || form.submitted )">
                    <span class="error-text">Please enter your last name</span>
                    <span class="icon-font icon-info font-size-24pt"></span><span class="info-text">It's got to be 3 - 20 characters</span>
                </div>
            </div>
        </div>

        <div class="form-section">
            <span class="icon-required font-size-11pt"></span>Gender:
            <div>
                <label for="male">
                    <span class="font-size-12pt">Male:</span>
                    <input type="radio"
                           class="form-radio"
                           name="genderIsFemale"
                           id="male"
                           ng-value="false"
                           ng-model="formData.genderIsFemale"
                           ng-blur="userForm.genderIsFemale.blurred = true"/>
                </label>
                <label for="female">
                    <span class="font-size-12pt">Female:</span>
                    <input type="radio"
                           class="form-radio"
                           name="genderIsFemale"
                           id="female"
                           ng-value="true"
                           ng-model="formData.genderIsFemale"
                           ng-blur="userForm.genderIsFemale.blurred = true"/>
                </label>
            </div>
        </div>

        <div class="form-section">
            <span class="icon-required font-size-11pt"></span>Age:
            <label for="age">
                <select name="age"
                        id="age"
                        class="form-select"
                        required
                        ng-model="formData.age"
                        ng-options="ageValue for ageValue in ageRange">
                    <option value="">-- Choose Your Age --</option>
                </select>
            </label>
        </div>

    </fieldset>
    <fieldset>

        <div>
            <label for="phonenumber">
                <span class="icon-required font-size-11pt"></span>Phone Number:
                <input type="tel"
                       class="form-input"
                       name="phonenumber"
                       id="phonenumber"
                       placeholder="Enter your phone number"
                       required
                       ng-class="{ error: userForm.phonenumber.$invalid && ( userForm.phonenumber.blurred || form.submitted ) }"
                       ng-model="formData.phoneNumber"
                       ng-blur="userForm.phonenumber.blurred = true"
                       ng-pattern="/\d{11}/"/>
            </label>

            <div class="error-container">
                <div class="font-size-11pt" ng-show="userForm.phonenumber.$invalid && ( userForm.phonenumber.blurred || form.submitted )">
                    <span class="error-text">Please enter your phone number</span>
                    <span class="icon-font icon-info font-size-24pt"></span><span class="info-text">It's got to be 11 characters</span>
                </div>
            </div>
        </div>

        <div class="form-section">
            <label for="notes">
                Notes:
                <textarea class="form-textarea"
                          name="notes"age
                          id="notes"
                          placeholder="Enter your notes"
                          ng-model="formData.notes"
                          ng-blur="userForm.password.blurred = true"
                          ng-maxlength="2000">
                </textarea>
            </label>
        </div>

    </fieldset>

        <input class="button button-text font-size-16pt"
               type="submit"
               value="Save"
               ng-class="{ 'button-disabled': userForm.$invalid }"
               ng-disabled="userForm.$invalid"/>

    </fieldset>
</form>
