<nav>
    <ul class="horizontal-list">
        <li class="horizontal-list"><h2><a href="/user" ng-click="profileMode = 'view'">Profile</a></h2></li>
    </ul>
    <ul class="horizontal-list list-separate">
        <li class="horizontal-list" ng-show="profileMode === 'view'">
            <a class="font-size-12pt" ng-click="profileMode = 'edit'">edit</a>
        </li>
        <li class="horizontal-list " ng-show="profileMode === 'edit'">
            <a class="font-size-12pt" ng-click="profileMode = 'view'">back</a>
        </li>
    </ul>
</nav>

<div ng-switch="profileMode">
    <div ng-switch-when="view">
         <div ng-include="'/views/partials/profileViewMode.html'"></div>
    </div>
    <div ng-switch-when="edit">
        <div ng-include="'/views/partials/profileEditMode.html'"></div>
    </div>
</div>